In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as pt

In [3]:
df = pd.read_csv("Downloads/Airbnb_Open_Data_data_cleaningP2.csv")
print(f" Loaded Dataset: {df.shape[0]} rows, {df.shape[1]} columns")

FileNotFoundError: [Errno 2] No such file or directory: 'Downloads/Airbnb_Open_Data_data_cleaningP2.csv'

In [19]:
data_info = df.info()
missing_percentage = df.isna().sum()
print(data_info, missing_percentage)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB
None id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [30]:
df['availability 365']

0         286.0
1         228.0
2         352.0
3         322.0
4         289.0
          ...
102594    227.0
102595    395.0
102596    342.0
102597    386.0
102598     69.0
Name: availability 365, Length: 102599, dtype: float64

In [4]:
# cleaning columns header:
cleaned_header = df.columns.str.strip().str.replace(" ","_").str.lower()

print("FIX HEADER APPLIED:", cleaned_header)

FIX HEADER APPLIED: Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules', 'license'],
      dtype='object')

In [5]:
# basic data cleaning and formatting:
filling_mode= df['NAME'].mode()[0]
cleaning_and_formatting = df['NAME'].str.capitalize().str.strip().fillna(filling_mode)

print("FIX APPLIED:", cleaning_and_formatting)
print("Null values present in column:", cleaning_and_formatting.isna().sum())

FIX APPLIED: 0                       Clean & quiet apt home by the park
1                                    Skylit midtown castle
2                      The village of harlem....new york !
3                                      Home away from home
4         Entire apt: spacious studio/loft by central park
                                ...
102594                          Spare room in williamsburg
102595                       Best location near columbia u
102596                      Comfy, bright room in brooklyn
102597                    Big studio-one stop from midtown
102598                                585 sf luxury studio
Name: NAME, Length: 102599, dtype: object
Null values present in column: 0

In [6]:
# host_identity_verified cleaning:
identity_cleaning= df['host_identity_verified'].str.strip().str.capitalize().fillna("Unknown")

print("FIX APPLIED:",identity_cleaning)
print("Null values present in column:", identity_cleaning.isna().sum())

FIX APPLIED: 0         Unconfirmed
1            Verified
2             Unknown
3         Unconfirmed
4            Verified
             ...
102594       Verified
102595    Unconfirmed
102596    Unconfirmed
102597    Unconfirmed
102598    Unconfirmed
Name: host_identity_verified, Length: 102599, dtype: object
Null values present in column: 0

In [7]:
# cleaning host name:
host_name_mode = df['host name'].mode()[0]
host_name_cleaning = df['host name'].str.strip().str.capitalize().fillna(host_name_mode)

print("FIX APPLIED:",host_name_cleaning)
print("Null values present in column %:", host_name_cleaning.isna().sum()/100*len(df['host name']))

FIX APPLIED: 0            Madaline
1               Jenna
2               Elise
3               Garry
4              Lyndon
             ...
102594           Krik
102595          Mifan
102596          Megan
102597    Christopher
102598        Rebecca
Name: host name, Length: 102599, dtype: object
Null values present in column %: 0.0

In [8]:
# cleaning neighbourhood group:
group_map = {
    'brookln': 'Brooklyn',
    'manhatan': 'Manhattan',
    'Brookln': 'Brooklyn',
    'Manhatan': 'Manhattan'
}
group_mode_cap = df['neighbourhood group'].mode()[0]
neighbourhood_group_cleaning = df['neighbourhood group'].str.strip().str.title().replace(group_map).fillna(group_mode_cap)

print("FIX APPLIED:",neighbourhood_group_cleaning)
print("Null values present in column %:", neighbourhood_group_cleaning.isna().sum()/100*len(df['neighbourhood group']))
print("Unique Neighbourhood group:", neighbourhood_group_cleaning.unique())

FIX APPLIED: 0          Brooklyn
1         Manhattan
2         Manhattan
3          Brooklyn
4         Manhattan
            ...
102594     Brooklyn
102595    Manhattan
102596     Brooklyn
102597       Queens
102598    Manhattan
Name: neighbourhood group, Length: 102599, dtype: object
Null values present in column %: 0.0
Unique Neighbourhood group: ['Brooklyn' 'Manhattan' 'Queens' 'Staten Island' 'Bronx']

In [9]:
# Neighbourhood column cleaning:
neighbourhood_mode_cap = df['neighbourhood'].mode()[0]
neighbourhood_cleaning= df['neighbourhood'].str.strip().str.title().fillna(neighbourhood_mode_cap)

print("FIX APPLIED:",neighbourhood_cleaning)
print("Null values present in column %:", neighbourhood_cleaning.isna().sum()/100*len(df['neighbourhood']))

FIX APPLIED: 0                  Kensington
1                     Midtown
2                      Harlem
3                Clinton Hill
4                 East Harlem
                 ...
102594           Williamsburg
102595    Morningside Heights
102596             Park Slope
102597       Long Island City
102598        Upper West Side
Name: neighbourhood, Length: 102599, dtype: object
Null values present in column %: 0.0

In [17]:
# filling Nan rows with mode in country column:
country_cleaning = df['country'].str.strip().fillna(df['country'].mode()[0])

print("FIX APPLIED:",country_cleaning)
print("Null values present in column %:", country_cleaning.isna().sum())

FIX APPLIED: 0         United States
1         United States
2         United States
3         United States
4         United States
              ...
102594    United States
102595    United States
102596    United States
102597    United States
102598    United States
Name: country, Length: 102599, dtype: object
Null values present in column %: 0

In [58]:
# dropping latitude and longitude column:
df.drop(columns=['lat', 'long','country code','license','cancellation_policy','minimum nights','Construction year','last review','reviews per month','calculated host listings count','house_rules','availability 365'],inplace=True)

print("COLUMN DROPPED:",unnecessary_columns_drop)

KeyError: "['lat', 'long', 'country code', 'license', 'cancellation_policy', 'minimum nights', 'Construction year', 'last review', 'reviews per month', 'calculated host listings count', 'house_rules', 'availability 365'] not found in axis"

In [42]:
# renaming column name and cleaning -room availability:
df.rename(columns={'instant_bookable': 'room_available'}, inplace=True)
room_availabilty= df['room_available'].astype(str).str.strip().replace('False','No').replace('True','Yes').fillna(df['room_available'].mode()[0])

print("FIX APPLIED:",room_availabilty)
print("Null values present in column:", room_availabilty.isna().sum())

FIX APPLIED: 0          No
1          No
2         Yes
3         Yes
4          No
         ...
102594     No
102595    Yes
102596    Yes
102597    Yes
102598     No
Name: room_available, Length: 102599, dtype: object
Null values present in column: 0

In [56]:
# dropping Nan columns:
df.dropna(axis=1, how='all', inplace=True)

In [54]:
# currency conversion:
df['service fee'] = pd.to_numeric(df['service fee'], errors='coerce')
df['service fee']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
102594   NaN
102595   NaN
102596   NaN
102597   NaN
102598   NaN
Name: service fee, Length: 102599, dtype: float64

In [57]:
df.head(2)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,country,room_available,room type,number of reviews,review rate number
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,United States,False,Private room,9.0,4.0
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,United States,False,Entire home/apt,45.0,4.0